BasedOnStyle : "LLVM"
Standard : "c++17"
UseTab : "Always"
TabWidth : 4
IndentWidth : 4
ColumnLimit : 120
AccessModifierOffset : -4
AlignAfterOpenBracket: "Align"
AlignOperands : "AlignAfterOperator"
AllowAllArgumentsOnNextLine : "true"
AllowShortBlocksOnASingleLine : "true"
AllowShortFunctionsOnASingleLine: "All"
AllowShortIfStatementsOnASingleLine : "Never"
AlwaysBreakTemplateDeclarations : "true"
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: "Custom"
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeTernaryOperators : false
BreakConstructorInitializers : "BeforeComma"
BreakInheritanceList : "AfterColon"
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth : 4
IndentCaseLabels : "true"
IndentPPDirectives : "None"
SpaceAfterCStyleCast : "false"
SpaceAfterTemplateKeyword : "false"
SpaceBeforeAssignmentOperators : "true"
SpaceBeforeCtorInitializerColon : "true"
SpaceBeforeInheritanceColon : "true"
SpaceBeforeParens : "ControlStatements"
SpaceBeforeRangeBasedForLoopColon : "true"
SpaceInEmptyParentheses : "false"
SpacesInAngles : "false"
SpacesInCStyleCastParentheses : "false"
