CompileFlags:
	Add: [ 
		"--target=arm-none-eabi",
		"-I../Inc",
		"-I../../../../examples/usb_basic",
		"-I../../../../examples/shared",
		"-I../../../STM32MP1xx_HAL_Driver/Inc",
		"-I../../../CMSIS/Device/ST/STM32MP1xx/Include",
		"-I../../../CMSIS/Core_A/Include",
		"-I../../../CMSIS/Core/Include",
		"-DUSE_FULL_LL_DRIVER",
		"-DUSE_HAL_DRIVER",
	   "-DSTM32MP157Cxx",
	   "-DSTM32MP1",
	   "-DCORE_CA7",
	   "-D_IO=volatile",
	]
