CompileFlags:
	Add: [
		"--target=arm-none-eabi",
	]
---
If:
	PathMatch: [".*test.*"]
CompileFlags:
	Add: [
		"-Ilib/mdrivlib/tests",
		"-Ilib/mdrivlib/tests/stubs",
		"-Ilib/mdrivlib/tests/stubs/stm32",
	]
---
If:
	PathMatch: [".*h7.*"]
CompileFlags:
	Add: [
		"-DSTM32H7",
		"-DSTM32H755xx",
		"-DCORE_CM7",
		"-Ilib/mdrivlib/target/stm32h7x5/drivers",
		"-Ilib/mdrivlib/target/stm32h7x5/boot",
		"-Ilib/cmsis-device/stm32h7x5/include",
		"-Isrc/m7",
		"-Ilib/stm32-hal/stm32h7x5/include"
	]
	Remove: [
		"-DSTM32MP1",
		"-Ilib/mdrivlib/target/stm32mp1/drivers",
		"-Ilib/mdrivlib/target/stm32mp1_ca7/drivers",
		"-Ilib/mdrivlib/target/stm32mp1_cm4/drivers",
		"-Ilib/cmsis-device/stm32mp157c/include",
	]
