BasedOnStyle : "LLVM"
Standard : "c++17"
UseTab : "Always"
TabWidth : 4
IndentWidth : 4
ColumnLimit : 120
AccessModifierOffset : -4
AlignAfterOpenBracket: "Align"
AllowShortFunctionsOnASingleLine: "false"
AllowShortIfStatementsOnASingleLine : "Never"
AllowShortBlocksOnASingleLine : "true"
AlwaysBreakTemplateDeclarations : "true"
AllowAllArgumentsOnNextLine : "true"
AlignOperands : "AlignAfterOperator"
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers : "BeforeComma"
BreakInheritanceList : "AfterColon"
BreakBeforeBraces: "Custom"
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ConstructorInitializerIndentWidth: 4
IndentCaseLabels : "true"
IndentPPDirectives : "None"
SpaceBeforeInheritanceColon : "true"
SpaceBeforeCtorInitializerColon : "true"
SpaceBeforeAssignmentOperators : "true"
SpaceAfterTemplateKeyword : "false"
SpaceAfterCStyleCast : "false"
SpaceBeforeParens : "ControlStatements"
SpaceBeforeRangeBasedForLoopColon : "true"
SpaceInEmptyParentheses : "false"
SpacesInAngles : "false"
SpacesInCStyleCastParentheses : "false"
